.Title{
    text-align: center;
    width: 100%;
}

.continue-button {
    background-color: #7e46d2;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
    margin-top: 400px;
}

.input-label {
    display: block;
    color: #666;
    margin-bottom: 10px;
    font-size: 15px;
}

.input {
    width: 100%;
    padding: 12px 15px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    background-color: transparent;
}

.inputs-section{
    margin-top: 10px;
}

.indicador{
    margin-top: 60px;
    display: block;
    color: #111010;
    font-size: 15px;
}